/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run foi-bioinformatics/nanometanf -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check nanometanf pipeline function'

    // Input data - using nanopore test data
    input                      = params.pipelines_testdata_base_path + 'nanoseq/samplesheet/samplesheet_BC_sample_sheet.csv'
    
    // Real-time processing (disabled for testing)
    realtime_mode              = false
    
    // Kraken2 database for testing (small database)
    kraken2_db                 = params.pipelines_testdata_base_path + 'kraken2/test-db'
    save_output_fastqs         = true
    save_reads_assignment      = true
    
    // BLAST validation (disabled for minimal test)
    blast_validation           = false
    
    // QC options
    skip_fastp                 = false
    skip_nanoplot              = false
    
    // Genome references
    genome                     = 'R64-1-1'
}
