/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for testing Dorado basecalling integration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Configuration for testing both single sample and barcoded basecalling
    
    Use as follows:
        nextflow run foi-bioinformatics/nanometanf -profile test_dorado,docker --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '8.GB',
        time: '2.h'
    ]
    
    // Dorado basecalling requires more resources
    withName: 'FOIBIOINFORMATICS_NANOMETANF:NANOMETANF:DORADO_BASECALLING:DORADO_BASECALLER' {
        memory = '6.GB'
        cpus = 2
        time = '1.h'
    }
    
    withName: 'FOIBIOINFORMATICS_NANOMETANF:NANOMETANF:DORADO_BASECALLING:DORADO_DEMUX' {
        memory = '4.GB'
        cpus = 2
        time = '30.min'
    }
}

params {
    config_profile_name        = 'Test Dorado profile'
    config_profile_description = 'Test configuration for Dorado basecalling functionality'

    // Dorado basecalling options
    use_dorado                 = true
    dorado_path                = '/Users/andreassjodin/Downloads/dorado-1.1.1-osx-arm64/bin/dorado'
    dorado_model               = 'dna_r10.4.1_e4.3_400bps_fast@v4.1.0' // Faster model for testing
    pod5_input_dir             = 'test_data/pod5'  // Test POD5 files directory
    min_qscore                 = 7  // Lower threshold for testing
    
    // Test demultiplexing options
    demultiplex                = false  // Set to true for barcoded samples
    barcode_kit                = 'SQK-PBK004'  // Example barcode kit
    trim_barcodes              = true
    
    // Disable other workflows for focused testing
    kraken2_db                 = null
    blast_validation           = false
    realtime_mode              = false
    
    // QC options
    skip_fastp                 = false
    skip_nanoplot              = false
    
    // Output options
    save_output_fastqs         = true
    
    // Resource limits
    max_cpus = 4
    max_memory = '8.GB'
    max_time = '2.h'
}