/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run foi-bioinformatics/nanometanf -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check nanometanf pipeline function'

    // Input data - using nf-core modules test data (SARS-CoV-2 nanopore reads)
    // Samplesheet will be generated dynamically in the test
    input                      = "${projectDir}/assets/test_samplesheet.csv"

    // Real-time processing (disabled for testing)
    realtime_mode              = false

    // Kraken2 database for testing (small SARS-CoV-2 database from nf-core modules)
    kraken2_db                 = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/db/kraken2.tar.gz'
    save_output_fastqs         = true
    save_reads_assignment      = true

    // BLAST validation (disabled for minimal test)
    blast_validation           = false

    // QC options
    skip_fastp                 = false
    skip_nanoplot              = false

    // Genome references
    genome                     = 'R64-1-1'
}
